include ./navigation-list/footer_navigation-list
include ./menu-item/footer_menu-item


mixin footer(options)

  - var footerClassName = "page-footer"
    footer(class=footerClassName)
      .page-footer__logo
        .page-footer__logo-image
        .page-footer__logo-text
          p
            | Бронирование номеров в лучшем
            | отеле 2019 года по версии
            | ассоциации "Отельные взгляды"
 
      +footer_navigation-list( "Навигация", [ {href: "#", text: "О нас"},{href: "#", text: "Новости"},{href: "#", text: "Служба поддержки"},{href: "#", text: "Услуги"} ] )      
        
      
