include ./menu-item/footer_menu-item

mixin footer(options)

  - var footerClassName = "page-footer"
    footer(class=footerClassName)
      .page-footer__logo
        .page-footer__logo-image
        .page-footer__logo-text
          p
            | Бронирование номеров в лучшем
            | отеле 2019 года по версии
            | ассоциации "Отельные взгляды"

      ul.page-footer__navigation

        +footer_menu-item({title:"О нас"})
        +footer_menu-item({title:"Новости"})
        +footer_menu-item({title:"Служба поддержки"})
        +footer_menu-item({title:"Услуги"})
      
