include ./components/header/header
include ./components/catalog-main/catalog-main
include ./components/footer/footer

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Макет резюме
    link(rel="stylesheet", href="style.css")

  body
      .wrapper
        +header({name:"page-header"})
        +catalog-main({name:"catalog-main"})
        +footer({name:"page-footer"})
        
        
          
        
      

